*.suo
*.lock
*.ide
*.cache
*.txt
*.pdb
*.props
*.targets
*.CopyComplete
*.ide-wal
*.ide-shm
*.dll
*.json
*.AssemblyInfo.cs
*.Program.cs
*.nuspec
*.dtbcache

/test.server/test.server/bin/
/test.server/test.server/obj/
/test.server/.vs/
/test.server/packages/
/src/HttpSender.Test/obj/
/src/.vs/
