*.suo
*.lock
*.ide
*.cache
*.txt
*.pdb
*.props
*.targets
*.CopyComplete
*.ide-wal
*.ide-shm
*.dll
*.json
*.AssemblyInfo.cs
*.Program.cs
*.nuspec
*.dtbcache

/test.server/MvcServer/test.server/bin/
/test.server/MvcServer/test.server/obj/
/test.server/MvcServer/.vs/
/test.server/MvcServer/packages/

/test.server/ApiServer/.vs/
/test.server/ApiServer/ApiServer/obj/

/src/HttpSender.Test/obj/
/src/Performance.Test/obj/
/src/Performance.Test/bin/
/src/.vs/
